#logo-container{
    margin-top:15px;
}

#logo-container a{
    color: #a1a9bb;
    font-size: 27px;
    font-weight: 300;
    margin-bottom: 14px;
    letter-spacing: 0;
    animation-delay: 1s;
    -webkit-animation-delay: 1s;
    text-transform:uppercase;
}

@media (max-width:768px){
    #logo-container{
        margin-left:15px;
    }

    .navbar-inverse .navbar-toggle{
        margin-top:0 !important;
    }

    .scroll-bootstrap.navbar-collapse{
        margin-top:0px !important;
    }

    .scroll-bootstrap ul.navbar-nav{
        margin:0 -15px;
    }
}

.navbar-inverse{
    background-color:#151414 !important;
    height:70px;
}

.navbar-inverse ul.nav li a{
    padding:25px 20px;
}



.wrapper-social .fa{
    border:solid 4px #535A6C;
    color:#535A6C;
}

.wrapper-social .fa:hover{
    background:#535A6C;
}




.error {
    padding: 10px;
    border: none;
    border-radius: 0;
    background: #e74c3c;
}


.bg-intro,
.bg-footer{
    background-color:#151414;
}

.bg-footer{
    border-top:none;
}

.bg-features, .bg-services, .bg-portfolio, .bg-plan, .bg-contact{
    background-color:#FDFDFD;
}

.bg-footer-bottom{
    background-color:#000000;
    color:#808080;
}



.form-flat{
    background-color:#F9F9F9;
    border:1px solid #ADADAD;
    color: #000000;
}

.form-flat:focus{
    background-color:#f1f1f1;
    border:1px solid #6F6F6F;
}