/* 
Document   : theme
Author     : Mamoot Studio
Description: Style-Layout

*/

/* Table of Content
==================================================

#GENERAL
#BUTTON
#SLIDER
#COLOR
#NAV-BAR
#HEADER TITLE-SUBTITLE

=====SECTIONS=====
#INTRO 
#FEATURES 
#IPHONE
#SERVICES
#IMAC
#PORTFOLIO
#PLANS
#BLOG
#QUOTE
#TEAM
#CONTACT
#SUBSCRIBE
#FOOTER
#FOOTER-BOTTOM

*/

/* GENERAL
   ================================================== */
   
html,body {
	overflow-x:hidden;
}

body {
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    color: #333435;
    font-weight: 300;
}

ul {
    list-style: none
}

a,
a:hover,
a:focus {
    text-decoration: none;
    color: inherit;
}

h1 {
    font-weight: 700;
    letter-spacing: 1px;
    color: #333435;
}

hr {
    border-top: solid 1px #abb0be;
    width: 8%;
    margin-top: 30px;
    margin-bottom: 120px;
}

/* BTN FLAT
   ================================================== */

.btn:active,
.btn.active {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

a.btn-flat,
.btn-flat {
    border: none;
    display: inline-block;
    text-transform: uppercase;
    background-color: #28D8B3;
    border-bottom: solid 2px #25caa8;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    color: #FFF;
    -webkit-transition: all ease-in .15s;
    -moz-transition: all ease-in .15s;
    -o-transition: all ease-in .15s;
    transition: all ease-in .15s;
}

.btn-flat:hover {
    background-color: #1ccba8;
    color: #FFF;
}

.btn-flat:focus,
.btn-flat:active {
    background-image: none;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    background-color: #18ad90;
    color: #FFF;
}

.btn-flat:focus,
.btn-flat:active:focus,
.btn-flat.active:focus {
    outline: none;
    outline-offset: 0;
}

/* BTN-WHITE
   ================================================== */

a.btn-white {
    display: inline-block;
    padding: 20px 30px;
    text-transform: uppercase;
    color: #FFF;
    border: solid #FFF 2px;
    font-size: 16px;
    font-weight: 700;
    background-color: transparent;
    -webkit-transition: all ease-in .15s;
    -moz-transition: all ease-in .15s;
    -o-transition: all ease-in .15s;
    transition: all ease-in .15s;
}

a.btn-white:hover {
    background-color: #FFF;
    border-color: #f7f7f7;
    color: #333435;
}

a.btn-white:active,
a.btn-white:focus {
    background-color: #f7f7f7;
    color: #333435;
}

/* SLIDER
   ================================================== */

.col-sl {
    overflow: hidden;
    position: relative;
}

.col-sl,
.img-browser,
.img-imac,
.wrapper-sl,
.slider,
.slider li,
.slider img {
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
}

.wrapper-sl,
.slider {
    position: absolute
}

.wrapper-nav {
    margin-top: -80px
}

.div-p,
.div-n {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    -webkit-transition: all .1s ease-in;
    -moz-transition: all .1s ease-in;
    -o-transition: all .1s ease-in;
    transition: all .1s ease-in;
    top: 50%;
}

.div-p {
    left: -55px
}

.div-n {
    right: -55px
}

.div-p:hover,
.div-n:hover {
    background-color: rgba(0,0,0,0.5)
}

.div-p:active,
.div-n:active {
    background-color: rgba(0,0,0,0.6)
}

.fa-p,
.fa-n {
    background: #000;
    /* The Fallback */
    background-color: rgba(0,0,0,0.4);
    font-size: 20px;
    line-height: 0;
    color: #FFF;
    padding: 40px 20px;
}

.wrapper-browser:hover .div-p-browser,
.wrapper-imac:hover .div-p-imac {
    visibility: visible;
    opacity: 1;
    left: 0;
}

.wrapper-browser:hover .div-n-browser,
.wrapper-imac:hover .div-n-imac {
    visibility: visible;
    opacity: 1;
    right: 0;
}

/* SLIDER-BROWSER
   ================================================== */

.wrapper-browser {
    top: 19%
}

/* SLIDER-IMAC
   ================================================== */

.wrapper-imac {
    left: 3.7%;
    width: 92.5%;
    top: 4.6%;
}

@media (min-width:1200px) { 
	.img-browser {
	    width: 652px
	}

	.col-browser li img {
	    width: 652px
	}

	.img-imac {
	    width: 554px
	}

	.col-imac li img {
	    width: 514px
	}
}

/* GLOBAL COLOR
   ================================================== */

.navbar-inverse {
    background-color: #333435
}

.bg-intro,
.bg-iphone,
.bg-imac {
    background-color: #333435
}

.bg-features,
.bg-services,
.bg-portfolio,
.bg-plan,
.bg-contact {
    background-color: #edf0f2
}

.bg-blog {
    background-color: #FFF
}

.bg-team {
    background-color: #28D8B3
}

.bg-subscribe {
    background-color: #3d424f
}

.bg-footer {
    background-color: #2e323c
}

/* NAVBAR
   ================================================== */

.navbar-inverse {
    height: 90px;
    border: none;
}

.navbar-inverse .navbar-brand {
    padding: 0;
    margin: 0;
    margin-top: 8px;
    width: 74px;
    height: 74px;
}

.navbar-inverse .navbar-brand:hover {
    -webkit-filter: brightness(104%)
}

.navbar-inverse .navbar-nav > li > a {
    margin-top: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    padding: 35px 20px;
    color: #a1a9bb;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    -webkit-transition: background .2s ease-out;
    -moz-transition: background .2s ease-out;
    -o-transition: background .2s ease-out;
    transition: background .2s ease-out;
}

/* NAVBAR LINK ACTIVE COLORS
   ================================================== */

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:focus,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
    color: #f1fdfa;
    background-color: #28D8B3;
}

/* NAVBAR TOGGLE
   ================================================== */

.navbar-inverse .navbar-toggle {
    margin-top: 23px;
    padding: 14px 16px;
    background-color: #28D8B3;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border-color: #28D8B3;
    -webkit-transition: .15s ease-in;
    -moz-transition: .15s ease-in;
    -o-transition: .15s ease-in;
    transition: .15s ease-in;
}

.navbar-inverse .navbar-toggle:hover {
    background-color: #25CAA8;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.navbar-inverse .navbar-toggle:focus {
    background-color: #28D8B3;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

/* NAVBAR-DROPDOWN SECTION
   ================================================== */

.dropdown-menu {
    background-color: #333435;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    border: 0;
}

.dropdown-menu li a {
    -webkit-transition: all .15s ease-in;
    -moz-transition: all .15s ease-in;
    -o-transition: all .15s ease-in;
    transition: all .15s ease-in;
    color: #a1a9bb;
    font-size: 14px;
    padding: 10px 6px;
    padding-left: 16px;
    text-transform: uppercase;
    padding: 18px 14px;
    font-size: 18px;
    font-weight: 400;
}

.navbar-inverse .navbar-nav>.open>a,
.navbar-inverse .navbar-nav>.open>a:hover,
.navbar-inverse .navbar-nav>.open>a:focus {
    background-color: #1ccba8
}

.dropdown .divider {
    background-color: #626a7f
}

.dropdown-menu li a:hover {
    background-color: #697289;
    color: #a1a9bb;
}

.dropdown-menu li a:active {
    background-color: #697289;
    color: #a1a9bb;
}

.navbar-inverse .navbar-nav .dropdown-toggle:focus {
    background-color: #333435;
    color: #a1a9bb;
}

@media (max-width:767px) { 
	.subtitle {
	    line-height: 38px
	}

	hr {
	    width: 30%
	}

	/* NAVBAR
	   ================================================== */

	.navbar-collapse {
	    background-color: #333435;
	    margin-top: 8px;
	}

	.navbar-inverse .navbar-brand {
	    margin-left: 10px
	}

	/* NAVBAR-DROPDOWN
	   ================================================== */

	.navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
	    color: #a1a9bb;
	    padding-top: 10px;
	    padding-bottom: 10px;
	}

	.navbar-inverse .navbar-nav .open .dropdown-menu>li>a:hover,
	.navbar-inverse .navbar-nav .open .dropdown-menu>li>a:focus {
	    background-color: #1ccba8
	}

	.navbar-inverse .navbar-nav > li > a {
	    padding-bottom: 16px;
	    padding-top: 16px;
	}
}

/* HEADER TITLE AND SUBTITLE FOR SECTIONS
   ================================================== */

.header-title {
    color: #333435;
    font-size: 40px;
    margin-top: 120px;
    text-align: center;
}

.subtitle {
    font-weight: 300;
    color: #34495E;
    font-size: 22px;
    text-align: center;
}

@media (max-width:767px) { 
	.subtitle {
	    line-height: 38px
	}
}

@media (min-width:1200px) { 
	.header-title {
	    font-size: 44px;
	    margin-top: 120px;
	}

	.subtitle {
	    font-size: 26px;
	    text-align: center;
	}
}

/* SCROLLSPY FIX
   ================================================== */

#home,
#services,
#work,
#news-blog,
#price-table,
#team,
#contact {
    padding-top: 40px;
    margin-top: -40px;
}

/* INTRO
   ================================================== */

.bg-intro {
    padding-top: 180px
}

.title-intro {
    margin-top: 0;
    color: #a1a9bb;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 14px;
    letter-spacing: 0;
    animation-delay:1s;
    -webkit-animation-delay:1s;
}

.subtitle-intro {
    line-height: 32px;
    letter-spacing: 1px;
    color: #FFF;
    font-size: 19px;
    margin-bottom: 14px;
    padding-bottom: 0;
    margin-bottom: 20px;
    font-weight: 300;
    margin-top: 0;
    animation-delay:1.5s;
    -webkit-animation-delay:1.5s;
}

.row-intro .btn-delay {
    animation-delay:1.8s;
    -webkit-animation-delay:1.8s;
}

.col-browser .col-sl {
    animation-delay:2.4s;
    -webkit-animation-delay:2.4s;
}

@media (max-width:767px) { 
	.bg-intro {
	    text-align: center;
	    min-height: 200px;
	    padding-top: 120px;
	}

	.row-intro .btn-white {
	    margin-top: 10px;
	    margin-bottom: 40px;
	}
}

@media (min-width:768px) { 
	.title-intro {
	    font-size: 36px;
	    margin-bottom: 10px;
	}

	.subtitle-intro {
	    font-size: 16px;
	    margin-bottom: 14px;
	}
}

@media (min-width:992px) { 
	.title-intro {
	    margin-top: 16px;
	    font-size: 40px;
	    margin-bottom: 14px;
	}

	.subtitle-intro {
	    font-size: 19px;
	    margin-bottom: 24px;
	}
}

@media (min-width:1200px) { 
	.title-intro {
	    font-size: 46px;
	    margin-bottom: 20px;
	}

	.subtitle-intro {
	    font-size: 24px;
	    line-height: 40px;
	}
}

/* FEATURES
   ================================================== */

.bg-features {
    text-align: center
}

.row-features {
    margin-top: 150px;
    margin-bottom: 100px;
}

.col-features {
    padding: 20px;
    margin-bottom: 50px;
    bottom: 0;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
}

.title-features {
    margin-top: 30px;
    font-size: 28px;
    letter-spacing: normal;
}

.p-features {
    padding-top: 5px;
    margin: 0 auto;
    max-width: 190px;
    font-size: 16px;
    line-height: 26px;
}

@media (min-width:1200px) { 
	.title-features {
	    font-size: 32px
	}

	.p-features {
	    max-width: 260px;
	    font-size: 18px;
	    line-height: 30px;
	}
}

/* IPHONE
   ================================================== */

.row-iphone {
    color: #ECF0F1;
    padding-top: 50px;
}

.title-iphone {
    color: #a1a9bb;
    font-size: 30px;
    letter-spacing: normal;
    text-transform: uppercase;
    font-weight: 700;
}

.p-iphone {
    color: #d2d6df;
    font-size: 18px;
    line-height: 33px;
    margin-bottom: 20px;
}

.img-triangle {
    display: block;
    width: 60px;
    margin: 0 auto;
    margin-top: -4px;
}

.row-iphone img {
    padding-bottom: 0;
    margin-bottom: 0;
}

.iphone-wrapper {
    width: 100%;
    position: relative;
}

.iphone-icons {
    position: absolute;
    top: 35%;
    left: 20.8%;
}

.iphone-icons .fa {
    font-size: 30px;
    width: 56px;
    height: 56px;
    padding-left: 8%;
    padding-top: 8%;
    margin-right: .4em;
    margin-bottom: .98em;
    color: #28D8B3;
    background: #000;
    /* The Fallback */
    background-color: rgba(0,0,0,0.3);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.iphone-icons .fa:hover {
    background-color: rgba(0,0,0,0.6)
}

.iphone-icons .fa:active {
    background-color: rgba(0,0,0,0.9)
}

@media (max-width:767px) { 
	.iphone-wrapper {
	    margin: 0 auto;
	    width: 220px;
	}

	.bg-iphone .btn-white {
	    margin-bottom: 30px
	}

	.bg-iphone .tab-content {
	    text-align: center
	}
}

@media (min-width:768px) { 
	
}

@media (min-width:992px) { 
	.iphone-icons .fa {
	    font-size: 44px;
	    width: 76px;
	    height: 76px;
	}
}

@media (min-width:1200px) { 
	.iphone-icons .fa {
	    font-size: 52px;
	    width: 90px;
	    height: 90px;
	}

	.title-iphone {
	    font-size: 38px;
	    margin-bottom: 20px;
	}

	.p-iphone {
	    font-size: 22px;
	    line-height: 36px;
	    margin-bottom: 30px;
	}
}

/* SERVICES
   ================================================== */

.bg-services {
    min-height: 100px;
    text-align: center;
}

.col-services {
    margin-bottom: 40px;
    bottom: 0;
    -webkit-transition: all .15s ease-in;
    -moz-transition: all .15s ease-in;
    -o-transition: all .15s ease-in;
    transition: all .15s ease-in;
    padding: 20px;
}

.col-services-last {
    margin-bottom: 180px
}

.col-services .glyphicon {
    color: #28D8B3;
    font-size: 60px;
    -webkit-transition: color .3s ease;
    -moz-transition: color .3s ease;
    -o-transition: color .3s ease;
    transition: color .3s ease;
}

.title-services {
    margin-top: 30px;
    font-size: 28px;
    letter-spacing: normal;
    font-weight: 700;
}

.p-services {
    padding-top: 5px;
    margin: 0 auto;
    max-width: 190px;
    font-size: 16px;
    line-height: 26px;
}

@media (min-width:1200px) { 
	.col-services .glyphicon {
	    font-size: 76px
	}

	.title-services {
	    font-size: 34px
	}

	.p-services {
	    max-width: 240px;
	    font-size: 18px;
	    line-height: 30px;
	}
}

/* IMAC
   ================================================== */

.row-imac {
    margin-top: 50px;
    margin-bottom: 50px;
}

.col-imac {
    margin-bottom: 25px
}

.tic:hover {
    cursor: default;
    background-color: #626a7f;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.imac-p {
    font-weight: 400;
    color: #bfc4d0;
    font-size: 18px;
    padding-top: 10px;
    padding-bottom: 14px;
    -webkit-transition: background-color .1s linear;
    -moz-transition: background-color .1s linear;
    -o-transition: background-color .1s linear;
    transition: background-color .1s linear;
}

.imac-p span {
    font-size: 20px;
    color: #28D8B3;
    margin-right: 20px;
    background-color: #28D8B3;
    color: #333435;
    height: 32px;
    width: 32px;
    padding-top: 5px;
    padding-left: 5px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

@media (min-width:768px) { 
	.imac-p {
	    font-size: 16px;
	    padding-top: 3px;
	    padding-bottom: 8px;
	}
}

@media (min-width:992px) { 
	.imac-p {
	    font-size: 20px;
	    padding-top: 8px;
	    padding-bottom: 10px;
	}

	.imac-p span {
	    margin-right: 30px
	}
}

@media (min-width:1200px) { 
	.imac-p span {
	    top: -3px
	}

	.imac-p {
	    font-weight: 300;
	    font-size: 25px;
	    padding-top: 16px;
	    padding-bottom: 14px;
	}

	.col-imac {
	    margin-top: 20px
	}
}

/* PORTFOLIO
   ================================================== */

#Grid .mix {
    opacity: 0;
    display: none;
}

.all {
    margin-bottom: 35px
}

.row-portfolio-last {
    padding-bottom: 80px
}

.ul-portfolio {
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
    text-align: center;
}

.ul-portfolio li {
    cursor: pointer;
    display: inline-block;
    margin-right: 6px;
    margin-bottom: 40px;
    padding: 15px 30px;
    border: solid 3px #28D8B3;
    color: #28D8B3;
    font-weight: 700;
    letter-spacing: 1px;
    -webkit-transition: all .15s ease-in;
    -moz-transition: all .15s ease-in;
    -o-transition: all .15s ease-in;
    transition: all .15s ease-in;
}

.ul-portfolio li:hover {
    background-color: #28D8B3;
    color: #FFF;
}

.ul-portfolio li:focus,
.ul-portfolio li:active {
    border-color: #18ad90;
    background-color: #18ad90;
}

.ul-portfolio li.active {
    background-color: #28D8B3;
    color: #FFF;
}

.hr-portfolio {
    margin-bottom: 60px
}

.img-wrapper {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.bg-img-portfolio {
    visibility: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #19BC9C;
    opacity: 0;
    -webkit-transition: all .26s ease-in;
    -moz-transition: all .26s ease-in;
    -o-transition: all .26s ease-in;
    transition: all .26s ease-in;
    -webkit-transition-delay: .1s;
    -moz-transition-delay: .1s;
    -o-transition-delay: .1s;
    transition-delay: .1s;
}

.img-wrapper:hover .bg-img-portfolio {
    visibility: visible;
    opacity: 1;
    left: 0;
}

.img-portfolio {
    margin: 0 auto;
    height: auto;
    -webkit-transition: all .36s linear;
    -moz-transition: all .36s linear;
    -o-transition: all .36s linear;
    transition: all .36s linear;
    width: 100%;
}

.lightbox-wrapper a {
    opacity: 0.2;
    overflow: hidden;
    visibility: hidden;
    color: #FFF;
    position: absolute;
    display: block;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    width: 110px;
    height: 110px;
    right: -55px;
    bottom: -200px;
    background-color: #26e2bd;
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out;
    -webkit-transition-delay: .11s;
    -moz-transition-delay: .11s;
    -o-transition-delay: .11s;
    transition-delay: .11s;
}

.img-wrapper:hover .lightbox-wrapper a {
    opacity: 1;
    visibility: visible;
    bottom: -55px;
}

.lightbox-wrapper {
    width: 50%;
    height: 50%;
    position: absolute;
    top: 0;
}

.lightbox-wrapper a:hover {
    background-color: #70e5cc
}

.lightbox-wrapper .glyphicon-search {
    padding: 0;
    padding-left: 24px;
    padding-top: 24px;
    font-size: 60px;
    color: #FFF;
}

.img-responsive {
    margin: 0 auto
}

@media (max-width:767px) { 
	.img-portfolio,
	.img-wrapper {
	    margin: 0 auto;
	    max-width: 400px;
	}

	.images-portfolio {
	    max-width: 360px
	}

	.ul-portfolio li {
	    margin-bottom: 18px
	}
}

@media (max-width:767px) { 
	
}

@media (min-width:768px) { 
	.bg-portfolio {
	    min-height: 1100px
	}
}

@media (min-width:992px) { 
	.bg-portfolio {
	    min-height: 1290px
	}
}

@media (min-width:1200px) { 
	.bg-portfolio {
	    min-height: 1450px
	}
}

/* PLANS
   ================================================== */

.row-plan {
    margin-bottom: 150px
}

.col-plan {
    margin-bottom: 100px
}

.wrapper-plan {
    text-align: center;
    background-color: #FFF;
    width: 100%;
    margin: 0 auto;
    height: auto;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    margin-top: 0;
}

.wrapper-plan:hover {
    -webkit-box-shadow: 0 2px 2px rgba(0,0,0,0.3);
    -moz-box-shadow: 0 2px 2px rgba(0,0,0,0.3);
    box-shadow: 0 2px 2px rgba(0,0,0,0.3);
}

.wrapper-plan:hover .plan-price {
    background-color: #28D8B3
}

.featured {
    margin-top: -30px
}

.wrapper-plan hr {
    padding: 0;
    margin: 8px auto;
    width: 60%;
    border: solid 1px #EDF0F2;
}

.plan-price {
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    font-weight: 800;
    letter-spacing: 2px;
    font-size: 36px;
    background-color: #333435;
    color: #FFF;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    margin: 0 auto;
    padding-top: 42px;
    height: 126px;
    width: 126px;
    margin-bottom: 20px;
}

.plan-header {
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 19px;
    color: #FFF;
    margin: 0;
    background-color: #333435;
    padding: 20px 0;
    margin-bottom: 20px;
}

.plan-features {
    margin: 0;
    font-weight: 400;
    font-size: 18px;
    padding: 10px 0;
}

.plan-sign {
    text-shadow: 1px 1px 1px rgba(0,0,0,0.1);
    display: block;
    color: #FFF;
    background-color: #28D8B3;
    margin: 20px auto 0;
    font-weight: 600;
    width: 70%;
    font-size: 20px;
    padding: 15px 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.plan-sign:hover {
    background-color: #1ccba8;
    color: #FFF;
}

.plan-sign:active,
.plan-sign:focus {
    background-color: #18ad90;
    color: #FFF;
}

/* BLOG
   ================================================== */

.row-blog {
    margin-bottom: 120px
}

.col-blog {
    padding-top: 0;
    margin-bottom: 50px;
}

.col-blog img {
    max-width: 100%
}

.title-blog {
    margin-top: 26px;
    font-weight: 600;
    font-size: 30px;
    letter-spacing: inherit;
    text-transform: uppercase;
}

.date-blog {
    margin-top: 14px;
    max-width: 360px;
    color: #979eaf;
    font-style: italic;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 2px;
    line-height: 15px;
}

.p-blog {
    max-width: 360px;
    font-size: 17px;
    line-height: 36px;
    margin-bottom: 0;
    padding-right: 20px;
}

@media (min-width:1200px) { 
	.title-blog {
	    margin-top: 28px
	}

	.date-blog {
	    margin-top: 17px
	}

	.p-blog {
	    font-size: 19px
	}
}

/* BLOG-BTN
   ================================================== */

.col-blog .btn-flat {
    font-weight: 600;
    margin-top: 20px;
    padding: 18px 28px;
    border-bottom: solid 2px #25caa8;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    font-size: 16px;
    text-transform: none;
}

/* QUOTE
   ================================================== */

.bg-quote {
    background-image: url(../images/background.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    -moz-background-size: cover;
    background-size: cover;
    min-height: 300px;
    text-align: center;
}

.row-quote {
    padding-top: 120px;
    padding-bottom: 120px;
}

.bg-quote h5 {
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    color: #FFF;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 60px;
    font-size: 40px;
    padding: 0;
    margin: 0;
    padding-top: 10px;
}

.bg-quote i {
    font-size: 50px
}

.bg-quote h4{
    color:#ffffff;
}

/* TEAM
   ================================================== */

.bg-team {
    min-height: 700px;
    text-align: center;
}

.bg-team .header-title,
.bg-team .subtitle {
    color: #FFF
}

.team-title {
    font-size: 30px;
    letter-spacing: normal;
    font-weight: 700;
    color: #FFF;
}

.team-subtitle {
    padding-top: 5px;
    margin: 0 auto;
    max-width: 190px;
    font-size: 18px;
    color: #FFF;
}

.bg-team hr {
    border-color: #FFF
}

.row-team {
    padding-bottom: 80px
}

.col-team {
    margin-bottom: 50px
}

.wrapper-team-pic {
    overflow: hidden;
    position: relative;
    width: 83%;
    margin: 0 auto;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.img-team {
    width: 100%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.team-hover-bg {
    position: absolute;
    background: #333435;
    /* The Fallback */
    background-color: rgba(83,90,108,0.0);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    top: 0;
    left: -400px;
    -webkit-transition: all .36s ease-in;
    -moz-transition: all .36s ease-in;
    -o-transition: all .36s ease-in;
    transition: all .36s ease-in;
}

.wrapper-team-pic:hover .team-hover-bg {
    background-color: rgba(83,90,108,0.9);
    left: 0;
}

.team-icon {
    opacity: 0;
    font-size: 40px;
    position: absolute;
    text-align: center;
    padding-top: 0;
    height: 60px;
    width: 60px;
    padding-top: 10px;
    border: solid 2px #28D8B3;
    color: #28D8B3;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-transition: all .36s linear;
    -moz-transition: all .36s linear;
    -o-transition: all .36s linear;
    transition: all .36s linear;
}

.wrapper-team-pic:hover .team-icon {
    opacity: 1
}

.wrapper-team-pic:hover .team-icon:hover {
    background-color: #28D8B3;
    color: #FFF;
}

.team-t {
    top: 39%;
    left: -40%;
}

.team-f {
    top: -40%;
    left: 39%;
}

.team-d {
    padding-top: 8px;
    top: 39%;
    right: -40%;
}

.wrapper-team-pic:hover .team-t {
    left: 12%
}

.wrapper-team-pic:hover .team-d {
    right: 12%
}

.wrapper-team-pic:hover .team-f {
    top: 39%
}

@media (max-width:767px) { 
	.wrapper-team-pic {
	    max-width: 300px
	}
}

@media (min-width:768px) { 
	.wrapper-team-pic {
	    width: 100%
	}

	.wrapper-team-pic:hover .team-t {
	    left: 14%
	}

	.wrapper-team-pic:hover .team-d {
	    right: 14%
	}

	.team-f {
	    top: -40%;
	    left: 39%;
	}

	.team-icon {
	    font-size: 30px;
	    height: 50px;
	    width: 50px;
	    padding-top: 10px;
	}
}

@media (min-width:992px) { 
	.wrapper-team-pic:hover .team-t {
	    left: 12%
	}

	.wrapper-team-pic:hover .team-d {
	    right: 12%
	}

	.team-f {
	    top: -40%;
	    left: 38%;
	}

	.team-icon {
	    font-size: 38px;
	    height: 70px;
	    width: 70px;
	    padding-top: 16px;
	}
}

@media (min-width:1200px) { 
	.wrapper-team-pic {
	    width: 90%
	}

	.team-f {
	    top: -40%;
	    left: 39.6%;
	}
}

/* CONTACT-INFO
   ================================================== */

.row-info {
    font-weight: 400
}

.col-info {
    margin-bottom: 20px
}

.row-info .fa {
    margin-top: 16px;
    width: 30px;
    display: inline-block;
}

.row-info .glyphicon {
    font-size: 28px;
    color: #333435;
    margin-top: 24px;
    width: 36px;
}

.col-info .fa-envelope {
    font-size: 26px;
    margin-top: 14px;
}

.col-info .fa-map-marker {
    margin-top: 22px
}

.title-contact {
    margin-top: 0;
    margin-bottom: 6px;
    color: #25caa8;
    font-size: 28px;
    font-weight: 700;
}

.title-contact-sm {
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 20px;
    padding-top: 4px;
}

.p-contact {
    margin-top: 30px;
    font-size: 18px;
    line-height: 36px;
}

/* CONTACT
   ================================================== */

.container-contact {
    padding-bottom: 80px
}

.col-map {
    padding-bottom: 80px
}

#map-canvas {
    width: 100%;
    min-height: 440px;
    margin: 0;
}

@media (max-width:767px) { 
	.row-info {
	    margin-top: 60px
	}

	.col-info {
	    margin-bottom: 60px
	}
}

/* FORM
   ================================================== */

.form-flat {
    display: block;
    width: 100%;
    height: 70px;
    padding: 6px 12px;
    font-size: 18px;
    line-height: 2.4;
    color: #555;
    background-color: #dce4e4;
    background-image: none;
    border: 1px solid #dce4e4;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
}

.form-flat:focus {
    background-color: #d2dddd;
    border: none;
    border: 1px solid #d2dddd;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

input:focus,
textarea {
    outline: none!important
}

textarea.form-control {
    height: 240px
}

.row-contact button.btn-flat {
    display: block;
    width: 100%;
    padding: 40px 20px;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 2px;
}

.error {
    color: #FFF;
    background-color: #28D8B3;
    border: solid 2px #16a085;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    font-weight: 300;
    padding: 4px;
    margin-bottom: 10px;
}

#success {
    padding: 20px
}

/* SUBSCRIBE
   ================================================== */

.bg-subscribe {
    min-height: 200px
}

.container-subscribe {
    padding-top: 70px
}

.col-subscribe .form-control {
    color: #7b8399;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    border: none;
    position: relative;
    background-color: #2E323C;
    height: 80px;
    font-size: 22px;
    font-weight: 300;
    padding-left: 20px;
}

.col-subscribe .form-control:focus,
.col-subscribe .form-control:active {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border: none;
    outline: 0 none;
    background-color: #1f2229;
    border-color: #161F28;
}

.col-subscribe a.btn-flat {
    position: absolute;
    font-weight: 700;
    height: 80px;
    padding: 29px 20px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    top: 0;
    right: 4px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

@media (max-width:767px) { 
	.col-subscribe a.btn-flat {
	    right: 14px
	}
}

/* FOOTER
   ================================================== */

.bg-footer {
    background-color: #2E323C;
    border-top: 10px solid #444a59;
}

.row-footer {
    padding-top: 95px;
    padding-bottom: 95px;
}

.wrapper-social {
    padding: 0;
    text-align: center;
    margin: 0 auto;
    font-size: 70px;
}

.wrapper-social .fa {
    border: solid 4px #333435;
    width: 100px;
    height: 100px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    padding-top: 13px;
    margin-right: 20px;
}

.wrapper-social .fa:hover {
    -webkit-transition: all ease-in .15s;
    -moz-transition: all ease-in .15s;
    -o-transition: all ease-in .15s;
    transition: all ease-in .15s;
    color: #28d8b3;
    background-color: #333435;
}

/* FOOTER BOTTOM
   ================================================== */

.bg-footer-bottom {
    font-size: 16px;
    font-weight: 400;
    min-height: 60px;
    background-color: #181a1f;
}

.row-footer-bottom {
    margin-top: 20px
}

.links-footer {
    word-spacing: 14px
}

.links-footer a {
    padding-left: 14px;
    border-left: solid #4B5262 1px;
}

.links-footer a:hover {
    -webkit-transition: all ease-in .15s;
    -moz-transition: all ease-in .15s;
    -o-transition: all ease-in .15s;
    transition: all ease-in .15s;
    color: #28d8b3;
}

.links-footer a:first-child {
    border-left: none;
    padding-left: 0;
}

@media (max-width:767px) { 
	.bg-footer-bottom {
	    text-align: center
	}

	.row-footer {
	    padding-top: 30px;
	    padding-bottom: 30px;
	}

	.wrapper-social {
	    font-size: 32px;
	    margin-left: 0;
	    padding: 0;
	}

	.bg-subscribe {
	    min-height: 100px
	}

	.container-subscribe {
	    padding-top: 40px;
	    padding-bottom: 40px;
	}

	.wrapper-social .fa {
	    padding-top: 5px;
	    width: 46px;
	    height: 46px;
	    border: 2px solid;
	    margin: 0;
	}

	.links-footer {
	    margin-bottom: 20px
	}
}